<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>
    Job Tracker
</h1>

<ul>
    <li>
        <a href="https://www.google.com"> Home</a>
    </li>
    <li>
        <a href="https://www.google.com"> Archive</a>
    </li>
    <li>
        <a href="https://www.google.com"> About</a>
    </li>
</ul>

<h1>
    Interviews
</h1>

<h1>Applied</h1>
<ul>
    {% for app in applications %}
    <li>
        <a href="{% url 'details' app.companyName%}">
            {{ app.companyName }}
        </a>

    </li>
    {% endfor %}
</ul>


</body>
</html>