{% extends "base.html" %}

{% block title %}App Details{% endblock %}

{% block content %}
    <h1 class="header"><u>{{ application.company_name }}</u> application</h1>

    <h2>Position is for a {{ application.position }}</h2>

    <p>
        <a href="{{ application.jobLink }}">Job Post</a>
    </p>

    {% if application.location %}
    <P>
        The position is located in <b>{{ application.location }}</b>
    </P>
    {% endif %}

    {% if application.notes %}
    <P>
        Notes: {{ application.notes }}
    </P>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <button type="submit">Archive Application</button>
    </form>


{% endblock %}