{% extends "base.html" %}
{% load static %}

{% block title %}Archives{% endblock %}

{% block content %}
    <div>
        <h1 class="header">
            Archived Interviews
        </h1>

        <ul>
            {% for intv in interviews %}
                {% if intv.application.archived %}
                <li>
                    <a href="{% url 'interview_details' intv.application.company_name %}">
                        {{ intv.interview_type}} with {{ intv.application.company_name }} on <b>{{ intv.interview_date }}</b>
                    </a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>



    <h1 class="header">
        Archived Applications
    </h1>

    <ul>
        {% for app in applications %}
            {% if app.archived %}
            <li>
                <a href="{% url 'details' app.company_name %}">
                    {{ app.company_name }}
                </a>

            </li>
            {% endif %}
        {% endfor %}
    </ul>

{% endblock %}