<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>
    Job Tracker
</h1>

<ul>
    <li>
        <a href="https://www.google.com"> Home</a>
    </li>
    <li>
        <a href="https://www.google.com"> Archive</a>
    </li>
    <li>
        <a href="https://www.google.com"> About</a>
    </li>
</ul>

<h1>
    Interviews
</h1>

<button onclick="location.href='{% url 'new_interview' %}'" type="button">Add interview</button>

<ul>
    {% for intv in interviews %}
    <li>
        {{ intv.interview_type}} with {{ intv.application.company_name }} on <b>{{ intv.interview_date }}</b>
    </li>
    {% endfor %}
</ul>



<h1>
    Applications
</h1>

<button onclick="location.href='{% url 'newApplication' %}'" type="button">
         New
</button>

<ul>
    {% for app in applications %}
    <li>
        <a href="{% url 'details' app.company_name %}">
            {{ app.company_name }}
        </a>

    </li>
    {% endfor %}
</ul>


</body>
</html>