{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

    <div>
        <h1 class="header">
            Interviews
        </h1>

        <button onclick="location.href='{% url 'new_interview' %}'" type="button">Add interview</button>

        <ul>
            {% for intv in interviews %}
            <li>
                <a href="{% url 'interview_details' intv.application.company_name %}">
                    {{ intv.interview_type}} with {{ intv.application.company_name }} on <b>{{ intv.interview_date }}</b>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>



    <h1 class="header">
        Applications
    </h1>

    <button onclick="location.href='{% url 'new_application' %}'" type="button">
             Add application
    </button>

    <ul>
        {% for app in applications %}
        <li>
            <a href="{% url 'details' app.company_name %}">
                {{ app.company_name }}
            </a>

        </li>
        {% endfor %}
    </ul>

{% endblock %}